node_modules/
frontend/node_modules/
frontend/build/
frontend/dist/
certifier-app/node_modules/
certifier-app/build/
contracts/out/
contracts/cache/
contracts/lib/
.env
*.log
.DS_Store
frontend/android/.gradle/
frontend/android/build/
frontend/android/app/build/
frontend/android/app/release/
frontend/android/capacitor-*/build/
frontend/android/.idea/
frontend/android/local.properties
